* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    background: #F6F9F8;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0;
    background: rgb(85, 234, 190, 0.75);
}
footer {
    background: #141414;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 2rem 1rem 2rem;
}
footer article {
    display: flex;
    flex-direction: column;
    color: #F6F9F8;
}
footer article:nth-last-child(1) {
    text-align: right;
}
@media screen and (max-height: 796px){
    footer {
        position: static;
    }
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    font-size: 16px;
    font-weight: 400;
}
h1 {
    font-weight: 700;
    font-style: italic;
    color: #141414;
}
h1, h4 {
    font-size: 20px;
}
h2 {
    font-weight: 600;
    font-size: 16px;
}
.backgroundimagecontainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
}
.backgroundimagecontainer__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.buttoncontainer {
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.mainbutton{
    text-decoration: none;
    color: #F6F9F8;
    background: #EA5581;
    width: 160px;
    height: 53px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #55EABE;
    border-radius: 10px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    font-family: "Karla", sans-serif;
    cursor: pointer;
}
button:hover {
    color: gold;
    background: rgb(85, 234, 190, 0.5);
    border: 2px solid silver;
}
.mainbutton--greybutton {
    background: grey;
    color: #141414;
    border: 2px solid rgb(85, 234, 190, 0.5);
}
.aboutimagecontainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 30vh;
}
.aboutimagecontainer__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutimagecontainer__button {
    position: absolute;
    top: 50%;
    left: 15%;
}
.aboutcontainer {
    padding: 2rem;
    width: 100%;
}
.aboutcontent__black {
    background: #141414;
}
.aboutcontent__aboutwhite {
    color: #141414;
    width: clamp(20px, 100%, 800px);
}
.aboutcontentblack__aboutblack {
    color: #F6F9F8;
    width: clamp(20px, 100%, 800px);
}
ul {
    margin-left: 2rem;
    font-style: italic;
}
.about__aboutwhite--pinktextstyle {
    color: #EA5581;
}
.about__aboutblack--greentextstyle {
    color: #55EABE;
}
.book__inputform {
    background: rgb(85, 234, 190, 0.5);
    width: 100%;    
}
.book__inputform form{
    width: clamp(20px, 80%, 800px);
    margin-top: 6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: auto;
    font-weight: 700;
}
.book__inputform form button {
    align-self: center;
}
form select, form input {
    background: #F6F9F8;
    height: 2rem;
    font-style: italic;
}
.searchresults {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
    align-items: start;
    width: 100%;
    max-width: 1800px;
}
.resultcard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultcard__mainpart {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    background: #F6F9F8;
}
.resultcard__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.resultcard__imageslink--pinkcolor {
    color: #EA5581;
    text-decoration-line: underline;
    text-decoration-color: #55EABE;
    padding: 0.5rem 0 0 1rem;
}
.resultcard__information {
    padding: 1rem;
    overflow: hidden;
}
.resultcard__information--bottomcolor {
    border-bottom: 2px solid #55EABE;
    font-size: 1.5rem;
}
.resultcard__extrainformation {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    overflow: hidden;
}
.resultcard__extrainformation--smallergreytext {
    font-size: 12px;
    color: grey;
    font-style: italic;
}
.resultcard__dropdown {
    width: 85%;
    background: #F6F9F8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5rem 0rem 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
}
.spinningwheel {
    position: relative;
    margin-top: 25vh;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation-name: spinninganim;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.spinningwheel__image {
    width: 100%;
    height: auto;
}
.spinningwheel__headline {
    position: absolute;
    transform-origin: center;
    white-space: nowrap;
}
.spinningwheel__headline:nth-child(2) {
    top: 0;
    left: 50%;
    transform: translate(-50%) rotate(0deg);
}
.spinningwheel__headline:nth-child(3) {
    top: 30%;
    left: 65%;
    transform: rotate(72deg);
}
.spinningwheel__headline:nth-child(4) {
    top: 80%;
    left: 40%;
    transform: rotate(144deg);
}
.spinningwheel__headline:nth-child(5) {
    top: 75%;
    left: 0;
    transform: rotate(216deg);
}
.spinningwheel__headline:nth-child(6) {
    top: 30%;
    left: 10%;
    transform: translateX(-50%) rotate(288deg);
}
@keyframes spinninganim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    .searchresults {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (min-width: 1200px) {
    .searchresults {
        grid-template-columns: repeat(3, 1fr);
    }
}