* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0;
    background: rgb(85, 234, 190, 0.75);
}
footer {
    background: #141414;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 2rem 1rem 2rem;
}
@media screen and (max-height: 796px){
    footer {
        position: static;
    }
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
p {
    font-size: 14px;
    font-weight: 400;
}
h1 {
    font-weight: 700;
    font-style: italic;
    color: #141414;
}
h1, h4 {
    font-size: 20px;
}
h2 {
    font-weight: 600;
    font-size: 16px;
}
footer article {
    display: flex;
    flex-direction: column;
    color: #F6F9F8;
}
footer article:nth-last-child(1) {
    text-align: right;
}
.background_image img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.button-container {
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
}
button{
    text-decoration: none;
    color: #F6F9F8;
    background: #EA5581;
    width: 160px;
    height: 53px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #55EABE;
    border-radius: 10px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    font-family: "Karla", sans-serif;
}
.about_review {
    position: relative;
    display: flex;
    width: 100%;
    height: 30vh;
}
.about_review img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_review button {
    position: absolute;
    top: 50%;
    left: 15%;
}
.white_about {
    padding: 2rem;
    background: #F6F9F8;
    color: #141414;
}
.black_about {
    padding: 2rem;
    background: #141414;
    color: #F6F9F8;
}
ul {
    margin-left: 2rem;
}
.pink-p-style {
    color: #EA5581;
    font-style: italic;
    font-size: 16px;
}
.green-p-style {
    color: #55EABE;
    font-style: italic;
    font-size: 16px;
}
.spinning_wheel {
    position: relative;
    margin-top: 25vh;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation-name: spinninganim;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.spinning_wheel img {
    width: 100%;
    height: auto;
}
.spinning_wheel h1 {
    position: absolute;
    transform-origin: center;
    white-space: nowrap;
}
.spinning_wheel h1:nth-child(2) {
    top: 0;
    left: 50%;
    transform: translate(-50%) rotate(0deg);
}
.spinning_wheel h1:nth-child(3) {
    top: 30%;
    left: 65%;
    transform: rotate(72deg);
}
.spinning_wheel h1:nth-child(4) {
    top: 80%;
    left: 40%;
    transform: rotate(144deg);
}
.spinning_wheel h1:nth-child(5) {
    top: 75%;
    left: 0;
    transform: rotate(216deg);
}
.spinning_wheel h1:nth-child(6) {
    top: 30%;
    left: 10%;
    transform: translateX(-50%) rotate(288deg);
}
@keyframes spinninganim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}